<%- include bac.ejs %>

<div class="">
    <div style="height: 75px; width: 100%"></div>
    <hr>
    <h4 class="jumpbotron-heading text-muted" style="margin-left: 30px">WARNING</h4>
    <p  class="lead text-muted" style="margin-left: 30px">For your personal safety, we strongly recommend our users not trading in remote locations or late at nitgh!</p>
</div>
<hr>
<p>
    <font size="1">© 2018 UoB.
    <span class="text-muted">- Made in Bristol, United kindom  </span></font>
</p>