<!DOCTYPE html>
<html>
    <%- include head.ejs %>
    <body>
        <%- include nav.ejs %>
        <%- include jumbotron.ejs %>
        <div class="container text-center"  >
            <img style="width: 330px ;height: 147.1px; opacity:0.9"  src="/img/IMG.png"/>
        </div>
        <%- include footer.ejs%>
    </body>
    <script src="/js/index.js"></script>
</html>
