<!DOCTYPE html>
<html>
    <%- include head.ejs %>
    <body>
        <%- include nav.ejs %>
        <%- include upload.ejs %>
        <%- include footer.ejs%>
    </body>
    <script src="js/information.js"></script>
</html>