<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Upload</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/sign.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<header>
    <div class="collapse bg-dark" id="navbarHeader">
        <!-- <script>
             document.getElememtById('oDiv').style.display = 'none';
         </script>-->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-muted">This website is developed by Senwen Zheng and Qingyang Feng.</p>
                    <p class="text-muted">University of Bristol.</p>
                </div>
                <div class="col-sm-4 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white ">Email us</a></li>
                        <li><a href="#" class="text-white">sz16061@my.bristol.ac.uk</a></li>
                        <li><a href="#" class="text-white">qf17615@my.bristol.ac.uk</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand">Exchange</a>
            <ul class="nav navbar navbar-right">
                <li class="nav-item"><a class="nav-link text-white" href="home.html">Home</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="information.html">Information</a></li>
                <li class="nav-item"><a class="nav-link text-white" href="#">Log out</a></li>
            </ul>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</header>
<body>
<div class="Information-text">
    <div class="width">
        <div class="Information-text-title"><%= data.title %></div>
        <div class="information-page-data">
            <span><i class="fa fa-clock-o"></i><%= data.postDate %></span>
        </div>
        <div class="Information-text-photo">
            <div class="Information-text-photo-img" style="background-image: url(<%= data.image %>);"></div>
        </div>
        <div class="Information-text-body row">
            <div class="col-xs-6 info-detail-left">
                <form>
                    <p><button class="btn btn-success" data-bind="click:updateStatus" type="button">Close this case</button></p>
                    <div class="form-group" style="display:none">
                        <input id="comment-uid" class="form-control" value="<%= data.user_id %>">
                    </div>
                </form>
            </div>
            <div class="col-xs-6 info-detail-right">
                <form>
                    <div class="form-group" style="display:none">
                        <input id="detail-email" class="form-control" value="<%= data.email %>">
                    </div>
                    <div class="form-group">
                        <input data-bind="value: myemail" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <textarea data-bind="value: message" class="form-control" placeholder="Message"></textarea>
                    </div>
                    <button id="submitEmail" class="btn btn-primary" type="button" data-bind="click:submitEmail">Send</button>
                </form>
            </div>
        </div>
        <hr/>
        <div class="Information-text-thisYouComments">
            <form>
                <span>Comments</span>
                <div class="form-group" style="display:none">
                    <input id="comment-rid" class="form-control" value="<%= data.report_id %>">
                </div>
                <textarea placeholder="write down your comments" data-bind="value:commentContent"></textarea>
                <button id="submitComment" data-bind="click:submitComment" type="button">Submit Comments</button>
            </form>
        </div>

        <div class="Information-text-Comments">
            <h1>Comments</h1>
            <div class="Information-text-Comments-info">
                <div class="Comments-info-userData">
                    <span class="Comments-info-userData-name"><%= i.username %></span>
                    <span class="Comments-info-userData-time"><%= i.timestap %></span>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
<p><font size="1">© 2018 UoB.
    <span class="text-muted">- Made in Bristol, United kindom  </span></font>
</p>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/public/js/vendor/popper.min.js"></script>
<script src="/public/js/vendor/holder.min.js"></script>
<script src="/public/js/information.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script>
</html>